 
 body {
  margin: 0;
  padding: 0;
  background:#efeee7; 
  font-family: Georgia, 'Times New Roman', Times, serif; 
  color: #333333;
}

header {
  background:#333333; color: #eee;
}

h1 {
  color:#eee;
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-left: 108px;
}

div {
  display: inline
}

.container {
  width: 1024px;
  margin: 0 auto;
}

  #main-bio,
  #bio-image,
  #contact-info {
    float: left;
    margin-left: 100px;
  }

  #bio-image {
    width: 200px;
    height: 200px;
  }

  #main-bio {
    width: 40%;
    margin-left: 50px

  }

  #contact-info {
    width: 30%;
    float: right
  }

  a {
    color: #d21034;
  }

/*

    