 body {
  margin: 0;
  padding: 0;
  background-color:#efeee7; 
  font-family: Georgia, 'Times New Roman', Times, serif; color: #333333;
  font-size: 18px;

}

header {background-color:#333333;
}

h1 {color: white; text-align: center;
  margin: 0px;
  padding: 0px;
}

